/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Grays / Neutrals */
  --white: #ffffff;
  --black: #000000;
  --gray-50:  #f2f2f2;
  --gray-100: #d9d9d9;
  --gray-200: #bfbfbf;
  --gray-300: #a6a6a6;
  --gray-400: #8c8c8c;
  --gray-500: #737373;
  --gray-600: #595959;
  --gray-700: #404040;
  --gray-800: #262626; 
  --gray-900: #0d0d0d;

  /* Success, Warning, Danger, Info */
  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
  --info: #3b82f6;

  /* Primary brand colors */
  --primary: #6366F1;
  --primary-light:#a1a3f7;
  --primary-dark: #3b3d91;

  --background: var(--white);
  --background-alt: var(--gray-50);
  --card-bg: var(--gray-100);

  --text: var(--gray-900);
  --text-muted: var(--gray-500);

  --border: var(--gray-200);
  --border-strong: var(--gray-300);

  --btn-primary-bg: var(--primary);
  --btn-primary-text: var(--white);
  --btn-primary-hover: var(--primary-dark)
}


@media (prefers-color-scheme: dark) {
  :root{
    --background:var(--gray-900);
    --background-alt: var(--gray-800);
    --card-bg: var(--gray-700);

    --text: var(--gray-100);
    --text-muted: var(--gray-500);

    --border: var(--gray-600);
    }
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
